## Market Basket Analysis | Association Rule Minning | Recommendation Systemm

**Market Basket Analysis:**

-  Market Basket Analysis stands as a crucial technique employed by major retailers to unveil connections among product.
- ⚫ This method involves searching for combinations of items that frequently appear together in customer transaction
- 
⚫ In simpler terms, it empowers retailers to pinpoint correlations between the items purchased by custome
- 
• Association Rules are widely used to analyze retail basket or transaction data and are intended to identify strong patt rns
discovered in transaction data.

**Association Rule Mining:**
- 
Association rule mining is a process that deploys pattern recognition to identify and quantify relationship betwee 
different, yet related item
- .
A simple association rules use cas
-  -
Eggs and Bread are frequently purchased together. With this finding, you can incr ase sales
- by:
Placing eggs and bread next to each other so that when a customer buys one o
 the products, they don't have to wa k to
buy the other product Advertising to buyer of either eggs or bread in order to increase that person's propens ty to
purchase the ( aired) other 
- oduct.
Offer discounts on both eggs and bread if the customer buys both of the  in one p
- rchase.
Association Rule: "if item eggs are purchased, then the possibility of buying br
- ad is _"
Can also be repre
sented as:
eggs} -> {bread} Advantages: Relatively fast method Works well on small quantities of data Few(if any) feature engineering
requirement Three Ways to Measure Association :

In [23]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter('ignore')

In [21]:
from mlxtend.frequent_patterns import apriori,association_rules

In [29]:
df = pd.read_excel('Grocery-MarketBasket-Analysis.xlsx')
df.head()

   Member_number                 Date   itemDescription
0           1808           21-07-2015    tropical fruit
1           2552  2015-05-01 00:00:00        whole milk
2           2300           19-09-2015         pip fruit
3           1187  2015-12-12 00:00:00  other vegetables
4           3037  2015-01-02 00:00:00        whole milk

In [31]:
df.shape

(38765, 3)

In [33]:
df.columns

Index(['Member_number', 'Date', 'itemDescription'], dtype='object')

In [47]:
df.dtypes

Member_number               int64
Date               datetime64[ns]
itemDescription            object
dtype: object

In [37]:
df.isnull().sum()

Member_number      0
Date               0
itemDescription    0
dtype: int64

In [43]:
df.duplicated().sum()

0

In [41]:
df.drop_duplicates(inplace=True)

In [45]:
df['Date'] = pd.to_datetime(df['Date'])

In [49]:
df.sort_values('Date')

       Member_number       Date      itemDescription
15535           1659 2014-01-01  specialty chocolate
26214           1249 2014-01-01               coffee
35406           3681 2014-01-01               dishes
13242           3942 2014-01-01     other vegetables
34101           3956 2014-01-01              waffles
...              ...        ...                  ...
19048           3562 2015-12-30            ice cream
24048           2997 2015-12-30        domestic eggs
5928            1491 2015-12-30              chicken
32490           2970 2015-12-30           rolls/buns
19533           1769 2015-12-30           whole milk

[38006 rows x 3 columns]

In [51]:
df['Member_number'].nunique()

3898

In [53]:
df['itemDescription'].nunique()

167

In [55]:
df['itemDescription'].unique()

array(['tropical fruit', 'whole milk', 'pip fruit', 'other vegetables',
       'rolls/buns', 'pot plants', 'citrus fruit', 'beef', 'frankfurter',
       'chicken', 'butter', 'fruit/vegetable juice',
       'packaged fruit/vegetables', 'chocolate', 'specialty bar',
       'butter milk', 'bottled water', 'yogurt', 'sausage', 'brown bread',
       'hamburger meat', 'root vegetables', 'pork', 'pastry',
       'canned beer', 'berries', 'coffee', 'misc. beverages', 'ham',
       'turkey', 'curd cheese', 'red/blush wine',
       'frozen potato products', 'flour', 'sugar', 'frozen meals',
       'herbs', 'soda', 'detergent', 'grapes', 'processed cheese', 'fish',
       'sparkling wine', 'newspapers', 'curd', 'pasta', 'popcorn',
       'finished products', 'beverages', 'bottled beer', 'dessert',
       'dog food', 'specialty chocolate', 'condensed milk', 'cleaner',
       'white wine', 'meat', 'ice cream', 'hard cheese', 'cream cheese',
       'liquor', 'pickled vegetables', 'liquor (appetizer)', 'UHT-milk',
       'candy', 'onions', 'hair spray', 'photo/film', 'domestic eggs',
       'margarine', 'shopping bags', 'salt', 'oil', 'whipped/sour cream',
       'frozen vegetables', 'sliced cheese', 'dish cleaner',
       'baking powder', 'specialty cheese', 'salty snack',
       'Instant food products', 'pet care', 'white bread',
       'female sanitary products', 'cling film/bags', 'soap',
       'frozen chicken', 'house keeping products', 'spread cheese',
       'decalcifier', 'frozen dessert', 'vinegar', 'nuts/prunes',
       'potato products', 'frozen fish', 'hygiene articles',
       'artif. sweetener', 'light bulbs', 'canned vegetables',
       'chewing gum', 'canned fish', 'cookware', 'semi-finished bread',
       'cat food', 'bathroom cleaner', 'prosecco', 'liver loaf',
       'zwieback', 'canned fruit', 'frozen fruits', 'brandy',
       'baby cosmetics', 'spices', 'napkins', 'waffles', 'sauces', 'rum',
       'chocolate marshmallow', 'long life bakery product', 'bags',
       'sweet spreads', 'soups', 'mustard', 'specialty fat',
       'instant coffee', 'snack products', 'organic sausage',
       'soft cheese', 'mayonnaise', 'dental care', 'roll products',
       'kitchen towels', 'flower soil/fertilizer', 'cereals',
       'meat spreads', 'dishes', 'male cosmetics', 'candles', 'whisky',
       'tidbits', 'cooking chocolate', 'seasonal products', 'liqueur',
       'abrasive cleaner', 'syrup', 'ketchup', 'cream', 'skin care',
       'rubbing alcohol', 'nut snack', 'cocoa drinks', 'softener',
       'organic products', 'cake bar', 'honey', 'jam', 'kitchen utensil',
       'flower (seeds)', 'rice', 'tea', 'salad dressing',
       'specialty vegetables', 'pudding powder', 'ready soups',
       'make up remover', 'toilet cleaner', 'preservation products'],
      dtype=object)

In [57]:
df['itemDescription'].value_counts().head(10)

itemDescription
whole milk          2363
other vegetables    1827
rolls/buns          1646
soda                1453
yogurt              1285
root vegetables     1041
tropical fruit      1014
bottled water        908
sausage              903
citrus fruit         795
Name: count, dtype: int64

In [59]:
trans_df = pd.crosstab(df['Member_number'],df['itemDescription']).reset_index()
trans_df = trans_df.set_index('Member_number')
trans_df

itemDescription,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
Member_number,,,,,,,,,,,,,,,,,,,,,
1000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,1,0
1001,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,1,0,2,0,0
1002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
4998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4999,0,0,0,0,0,0,0,0,0,2,...,0,0,0,1,0,0,0,0,1,0
5000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0